@font-face {
  font-family: 'TWK Lausanne';
  src: url('./assets/fonts/twk-lausanne/TWKLausanne-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Lausanne';
  src: url('./assets/fonts/twk-lausanne/TWKLausanne-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Tüm TWK Lausanne fontları için font smoothing */
body, html, * {
  font-family: 'TWK Lausanne', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
